@{
    ViewData["Title"] = "Confirmação  apagar contato";
}
<div class=" text-center">
    <h3>Realmente deseja apagar o contato (Larissa Aevedo)?</h3>
</div>

<a class=" btn-primary btn" role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
<a class=" btn-danger btn" role="button" asp-controller="Contato" asp-action="Apagar"> Confirmar exclusão</a>